/*step 1 (type,class,id*/
p {
	border-bottom: 1px solid red;
}
.kermit {
	border: 10px solid green;
	border-radius: 25%;
}
#main-div-1 {
	padding: 5% ;
}

/*step 2 */
#main-div-2 .kermit {
	border: 2px dotted purple;
}
 #main-div-2  p {
	background-color: orange;
}
#li-1 {
	font-size: 30px;
}
#li-2 {
	font-weight: bold;
}
#li-3 {
	text-transform: uppercase;
}
#mystery-ul li:nth-child(2n+1) {
	font-family: 'Mystery Quest',cursive;
}
img {
	width: 200px;
}
/*step flexbox */
#flex-kermit {
	display: flex;
	flex-wrap: wrap;

}
#flex-kermit >img {
	width: 30%;
}

/*validation*/
input:valid {
	background-color: yellow;
}
input:invalid {
	background-color: green;
}




















